/* Grid properties
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  min-height: 100vh;
}

/* Header section properties
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.pop {
  z-index: 1;
}

.name,
.hero {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.name {
  font-size: 2.5em;
  text-transform: lowercase;
  color: whitesmoke;
}

#eric {
  color: #292B2C;
}

.hero {
  font-size: 5em;
  color: whitesmoke;
}

.sub-hero {
  font-weight: 700;
  line-height: 5em;
  text-transform: uppercase;
}

#header:before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

background: #1FA2FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



  opacity: 0.6; 
}

#header:after{
  content: "";
  position: fixed; 
  top: 0;
  height: 100vh; 
  left: 0;
  right: 0;
  z-index: -1; 
  background: url(https://res.cloudinary.com/jescobedo/image/upload/v1498618462/P8160411-compressor_mzpc3e.jpg) center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



/* applications section properties
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
#applications {
  height: 100vh;
  /*font-family: 'Open Sans', sans-serif;*/
  background: whitesmoke;
  /*font-weight: 700;*/

}

/* Project detail section properties
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
#detail {
  height: 100vh;
  background: whitesmoke;
}

/* Contact section properties
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
#contact {
  height: 100vh;
  background: whitesmoke;
}

/* Footer section properties
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
#footer {
  height: 50vh;
  background: #212121;
}

/* Utilities
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.shade {
  background: rgba(0,0,0,0.5);
}